In [2]:
import pandas as pd

In [89]:

df = pd.read_csv('top-1m.csv', header=None)
df.iloc[29900:30000].to_csv('test_data.csv', index=False, header=False)

In [81]:
df1 = pd.read_csv('csv\\database500.csv')
df2 = pd.read_csv('csv\\database500-1000.csv')
df3 = pd.read_csv('csv\\database1000-2000.csv')
df4 = pd.read_csv('csv\\database2000-3000.csv')
df5 = pd.read_csv('csv\\database3000-3500.csv')
df6 = pd.read_csv('csv\\database3500-4000.csv')
df7 = pd.read_csv('csv\\database4000-4500.csv')
df8 = pd.read_csv('csv\\database4500-5000.csv')
df9 = pd.read_csv('csv\\database5500-6000.csv')
df10 = pd.read_csv('csv\\database6000-6500.csv')
df11 = pd.read_csv('csv\\database6500-7000.csv')
df12 = pd.read_csv('csv\\database7000-7500.csv')
df13 = pd.read_csv('csv\\database7500-8000.csv')
df14 = pd.read_csv('csv\\database8000-8100.csv')
df15 = pd.read_csv('csv\\database8100-8200.csv')
df16 = pd.read_csv('csv\\database8200-8300.csv')
df17 = pd.read_csv('csv\\database8300-8400.csv')
df18 = pd.read_csv('csv\\database8400-8500.csv')
df19 = pd.read_csv('csv\\database8500-8600.csv')
df20 = pd.read_csv('csv\\database8600-8700.csv')
df21 = pd.read_csv('csv\\database8700-8800.csv')
df22 = pd.read_csv('csv\\database8800-8900.csv')
df23 = pd.read_csv('csv\\database8900-9000.csv')
df24 = pd.read_csv('csv\\database9000-9100.csv')
df25 = pd.read_csv('csv\\database9100-9200.csv')
df26 = pd.read_csv('csv\\database9200-9300.csv')
df27 = pd.read_csv('csv\\database9300-9400.csv')
df28 = pd.read_csv('csv\\database9400-9500.csv')
df29 = pd.read_csv('csv\\database9500-9600.csv')
df30 = pd.read_csv('csv\\database9600-9700.csv')
df31 = pd.read_csv('csv\\database9700-9800.csv')
df32 = pd.read_csv('csv\\database9800-9900.csv')
df33 = pd.read_csv('csv\\database9900-10000.csv')
df34 = pd.read_csv('csv\\database10000-10200.csv')
df36 = pd.read_csv('csv\\database10200-10300.csv')
df37 = pd.read_csv('csv\\database10300-10400.csv')
df38 = pd.read_csv('csv\\database10400-10500.csv')
df39 = pd.read_csv('csv\\database10500-10600.csv')
df40 = pd.read_csv('csv\\database10600-10700.csv')
df41 = pd.read_csv('csv\\database10700-10800.csv')
df42 = pd.read_csv('csv\\database10800-10900.csv')
df43 = pd.read_csv('csv\\database10900-11000.csv')
df44 = pd.read_csv('csv\\database11000-11100.csv')
df45 = pd.read_csv('csv\\database11100-11200.csv')
df46 = pd.read_csv('csv\\database11200-11300.csv')
df47 = pd.read_csv('csv\\database11300-11400.csv')
df48 = pd.read_csv('csv\\database11400-11500.csv')
df49 = pd.read_csv('csv\\database11500-11600.csv')
df50 = pd.read_csv('csv\\database11600-11700.csv')
df51 = pd.read_csv('csv\\database11700-11800.csv')
df52 = pd.read_csv('csv\\database11800-11900.csv')
df53 = pd.read_csv('csv\\database11900-12000.csv')
df54 = pd.read_csv('csv\\database12000-12100.csv')
df55 = pd.read_csv('csv\\database12100-12200.csv')
df56 = pd.read_csv('csv\\database12200-12300.csv')
df57 = pd.read_csv('csv\\database12300-12400.csv')
df58 = pd.read_csv('csv\\database12400-12500.csv')


files = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df37, df48, df39, df50, df51, df52, df53, df54, df55, df56, df57, df58]

pd.concat(files).to_csv('csv\\database.csv')

In [82]:
df1 = pd.read_csv('csv\\database12500-12600.csv')
df2 = pd.read_csv('csv\\database12600-12700.csv')
df3 = pd.read_csv('csv\\database12700-12800.csv')
df4 = pd.read_csv('csv\\database12800-12900.csv')
df5 = pd.read_csv('csv\\database12900-13000.csv')
df6 = pd.read_csv('csv\\database13000-13100.csv')
df7 = pd.read_csv('csv\\database13100-13200.csv')
df8 = pd.read_csv('csv\\database13200-13300.csv')
df9 = pd.read_csv('csv\\database13300-13400.csv')
df10 = pd.read_csv('csv\\database13400-13500.csv')
df11 = pd.read_csv('csv\\database13500-13600.csv')
df12 = pd.read_csv('csv\\database13600-13700.csv')
df13 = pd.read_csv('csv\\database13700-13800.csv')
df14 = pd.read_csv('csv\\database13800-13900.csv')
df15 = pd.read_csv('csv\\database13900-14000.csv')
df16 = pd.read_csv('csv\\database14000-14100.csv')
df17 = pd.read_csv('csv\\database14100-14200.csv')
df18 = pd.read_csv('csv\\database14200-14300.csv')
df19 = pd.read_csv('csv\\database14300-14400.csv')
df20 = pd.read_csv('csv\\database14400-14500.csv')
df21 = pd.read_csv('csv\\database14500-14600.csv')
df22 = pd.read_csv('csv\\database14600-14700.csv')
df23 = pd.read_csv('csv\\database14700-14800.csv')
df24 = pd.read_csv('csv\\database14800-14900.csv')
df25 = pd.read_csv('csv\\database14900-15000.csv')
df26 = pd.read_csv('csv\\database15100-15200.csv')
df27 = pd.read_csv('csv\\database15200-15300.csv')
df28 = pd.read_csv('csv\\database15300-15400.csv')
df29 = pd.read_csv('csv\\database15400-15500.csv')
df30 = pd.read_csv('csv\\database15500-15600.csv')
df31 = pd.read_csv('csv\\database15600-15700.csv')
df32 = pd.read_csv('csv\\database15700-15800.csv')
df33 = pd.read_csv('csv\\database15800-15900.csv')
df34 = pd.read_csv('csv\\database15900-16000.csv')
df36 = pd.read_csv('csv\\database16000-16100.csv')
df37 = pd.read_csv('csv\\database16100-16200.csv')
df38 = pd.read_csv('csv\\database16200-16300.csv')
df39 = pd.read_csv('csv\\database16200-16300.csv')
df40 = pd.read_csv('csv\\database16300-16400.csv')
df41 = pd.read_csv('csv\\database16400-16500.csv')
df42 = pd.read_csv('csv\\database16500-16600.csv')
df43 = pd.read_csv('csv\\database16600-16700.csv')
df44 = pd.read_csv('csv\\database16700-16800.csv')
df45 = pd.read_csv('csv\\database16800-16900.csv')
df46 = pd.read_csv('csv\\database16900-17000.csv')
df47 = pd.read_csv('csv\\database17000-17100.csv')
df48 = pd.read_csv('csv\\database17100-17200.csv')
df49 = pd.read_csv('csv\\database17200-17300.csv')
df50 = pd.read_csv('csv\\database17300-17400.csv')
df51 = pd.read_csv('csv\\database17400-17500.csv')
df52 = pd.read_csv('csv\\database17500-17600.csv')
df53 = pd.read_csv('csv\\database17600-17700.csv')
df54 = pd.read_csv('csv\\database17800-17900.csv')
df55 = pd.read_csv('csv\\database17900-18000.csv')
df56 = pd.read_csv('csv\\database18000-18100.csv')
df57 = pd.read_csv('csv\\database18100-18200.csv')
df58 = pd.read_csv('csv\\database18200-18300.csv')


files = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df37, df48, df39, df50, df51, df52, df53, df54, df55, df56, df57, df58]

pd.concat(files).to_csv('csv\\database1.csv')

In [83]:
df1 = pd.read_csv('csv\\database18300-18400.csv')
df2 = pd.read_csv('csv\\database18400-18500.csv')
df3 = pd.read_csv('csv\\database18500-18600.csv')
df4 = pd.read_csv('csv\\database18600-18700.csv')
df5 = pd.read_csv('csv\\database18700-18800.csv')
df6 = pd.read_csv('csv\\database18800-18900.csv')
df7 = pd.read_csv('csv\\database18900-19000.csv')
df8 = pd.read_csv('csv\\database19000-19100.csv')
df9 = pd.read_csv('csv\\database19100-19200.csv')
df10 = pd.read_csv('csv\\database19200-19300.csv')
df11 = pd.read_csv('csv\\database19300-19400.csv')
df12 = pd.read_csv('csv\\database19400-19500.csv')
df13 = pd.read_csv('csv\\database19500-19600.csv')
df14 = pd.read_csv('csv\\database19600-19700.csv')
df15 = pd.read_csv('csv\\database19700-19800.csv')
df16 = pd.read_csv('csv\\database19800-19900.csv')
df17 = pd.read_csv('csv\\database19900-20000.csv')
df18 = pd.read_csv('csv\\database20000-20100.csv')
df19 = pd.read_csv('csv\\database20100-20200.csv')
df20 = pd.read_csv('csv\\database20200-20300.csv')
df21 = pd.read_csv('csv\\database20300-20400.csv')
df22 = pd.read_csv('csv\\database20400-20500.csv')
df23 = pd.read_csv('csv\\database20500-20600.csv')
df24 = pd.read_csv('csv\\database20600-20700.csv')
df25 = pd.read_csv('csv\\database20700-20800.csv')
df26 = pd.read_csv('csv\\database20800-20900.csv')
df27 = pd.read_csv('csv\\database20900-21000.csv')
df28 = pd.read_csv('csv\\database21000-21100.csv')
df29 = pd.read_csv('csv\\database21100-21200.csv')
df30 = pd.read_csv('csv\\database21200-21300.csv')
df31 = pd.read_csv('csv\\database21300-21400.csv')
df32 = pd.read_csv('csv\\database21400-21500.csv')
df33 = pd.read_csv('csv\\database21500-21600.csv')
df34 = pd.read_csv('csv\\database21600-21700.csv')
df36 = pd.read_csv('csv\\database21700-21800.csv')
df37 = pd.read_csv('csv\\database21800-21900.csv')
df38 = pd.read_csv('csv\\database21900-22000.csv')
df39 = pd.read_csv('csv\\database22000-22100.csv')
df40 = pd.read_csv('csv\\database22100-22200.csv')
df41 = pd.read_csv('csv\\database22200-22300.csv')
df42 = pd.read_csv('csv\\database22300-22400.csv')
df43 = pd.read_csv('csv\\database22400-22500.csv')
df44 = pd.read_csv('csv\\database22500-22600.csv')
df45 = pd.read_csv('csv\\database22600-22700.csv')
df46 = pd.read_csv('csv\\database22700-22800.csv')
df47 = pd.read_csv('csv\\database22800-22900.csv')
df48 = pd.read_csv('csv\\database22900-23000.csv')
df49 = pd.read_csv('csv\\database23000-23100.csv')
df50 = pd.read_csv('csv\\database23100-23200.csv')
df51 = pd.read_csv('csv\\database23200-23300.csv')
df52 = pd.read_csv('csv\\database23300-23400.csv')
df53 = pd.read_csv('csv\\database23400-23500.csv')
df54 = pd.read_csv('csv\\database23500-23600.csv')
df55 = pd.read_csv('csv\\database23600-23700.csv')
df56 = pd.read_csv('csv\\database23700-23800.csv')
df57 = pd.read_csv('csv\\database23800-23900.csv')
df58 = pd.read_csv('csv\\database23900-24000.csv')


files = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df37, df48, df39, df50, df51, df52, df53, df54, df55, df56, df57, df58]

pd.concat(files).to_csv('csv\\database2.csv')

In [84]:
df = pd.read_csv('csv\\database.csv')
df1 = pd.read_csv('csv\\database1.csv')
df2 = pd.read_csv('csv\\database2.csv')

files = [df, df1, df2]

pd.concat(files).to_csv('csv\\main.csv')

In [13]:
dfmain = pd.read_csv('csv\\database.csv')

In [14]:
dfmain.columns = ['URL', 'Green Hosting', 'Bytes', 'Cleaner Than %', "Statistics: Adjusted Bytes", "Statistics: Energy", "Statistics: CO2 Grams, Grid", "Statistics: CO2 Litres, Grid", "Statistics: CO2 Grams, Renewable", "Statistics: CO2 Litres, Renewable", "Timestamp"]

In [15]:
dfmain.head(2)

,URL,Green Hosting,Bytes,Cleaner Than %,Statistics: Adjusted Bytes,Statistics: Energy,"Statistics: CO2 Grams, Grid","Statistics: CO2 Litres, Grid","Statistics: CO2 Grams, Renewable","Statistics: CO2 Litres, Renewable",Timestamp
0,https://www.google.com/,True,170821,0.96,128969.855,0.000097,0.043003,0.023918,0.037282,0.020736,1651677726
1,https://www.youtube.com/,True,3543405,0.32,2675270.775,0.002018,0.892021,0.496142,0.773354,0.430140,1651668187

In [16]:
dfmain["Cleaner Than %"] = dfmain["Cleaner Than %"].apply(lambda x: x*100)

In [17]:
dfmain["Timestamp"] = pd.to_datetime(dfmain['Timestamp'], unit='s')

In [27]:
dfmain

,URL,Green Hosting,Bytes,Cleaner Than %,Statistics: Adjusted Bytes,Statistics: Energy,"Statistics: CO2 Grams, Grid","Statistics: CO2 Litres, Grid","Statistics: CO2 Grams, Renewable","Statistics: CO2 Litres, Renewable",Timestamp
0,https://www.google.com/,True,170821,0.96,128969.855,0.000097,0.043003,0.023918,0.037282,0.020736,2022-05-04 15:22:06
1,https://www.youtube.com/,True,3543405,0.32,2675270.775,0.002018,0.892021,0.496142,0.773354,0.430140,2022-05-04 12:43:07
2,https://www.facebook.com/,True,435816,0.91,329041.080,0.000248,0.109713,0.061022,0.095118,0.052904,2022-05-04 15:22:15
3,https://www.netflix.com/fr-en/,True,2004776,0.54,1513605.880,0.001142,0.504685,0.280706,0.437546,0.243363,2022-05-04 15:22:28
4,https://www.microsoft.com/fr-fr/,unknown,768548,0.80,580253.740,0.000438,0.193475,0.107611,0.167737,0.093295,2022-05-04 15:22:44
...,...,...,...,...,...,...,...,...,...,...,...
9879,https://cjdropshipping.com/,unknown,6979778,0.13,5269732.390,0.003975,1.757098,0.977298,1.523348,0.847286,2022-05-05 13:32:11
9880,https://www.baden-wuerttemberg.de/de/startseite/,True,11212994,0.09,8465810.470,0.006386,2.822773,1.570026,2.447255,1.361163,2022-05-05 13:29:43
9881,https://www.aoa.org/?sso=y,unknown,2806749,0.36,2119095.495,0.001599,0.706574,0.392997,0.612578,0.340716,2022-05-05 13:29:37
9882,https://umassmed.edu/,unknown,1003536,0.73,757669.680,0.000572,0.252631,0.140514,0.219023,0.121821,2022-05-05 13:29:34
9883,https://www.physicsandmathstutor.com/,True,9301737,0.11,7022811.435,0.005298,2.341631,1.302415,2.030120,1.129153,2022-05-05 13:32:22

In [22]:
dfmain["Green Hosting"].value_counts()

unknown    5718
True       4166
Name: Green Hosting, dtype: int64

In [23]:
dfmain["URL"].value_counts()

https://www.google.com/                  58
https://www.yahoo.com/                    5
https://manatoki130.net/                  5
https://www.nytimes.com/                  4
https://www.xvideos.com/                  4
                                         ..
https://www.huxiu.com/                    1
https://www.city-data.com/                1
https://www.e-taxes.gov.az/               1
https://www.theblaze.com/                 1
https://www.physicsandmathstutor.com/     1
Name: URL, Length: 9428, dtype: int64

In [26]:
dfmain["Cleaner Than %"].describe()

count    9884.000000
mean       47.263861
std        27.484909
min         1.000000
25%        24.000000
50%        44.000000
75%        69.000000
max       100.000000
Name: Cleaner Than %, dtype: float64