In [2]:
import pandas as pd

In [11]:

df = pd.read_csv('top-1m.csv', header=None)
df.head(500).to_csv('test_data.csv', index=False, header=False)

In [12]:
df.head()

      google.com
0    youtube.com
1   facebook.com
2    netflix.com
3  microsoft.com
4  instagram.com